{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/find_event.css') }}">
{% endblock %}

{% block title %}Add New Participant Status{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p id="event_title">Success!</p>
<h2><strong>{{person.name}}</strong> has been added to <strong>{{person.event.title}}</strong></h2>
<h2 class="green">Busy dates:{% for i in person.busy_dates %}<br>{{i.date}}{% endfor %}</h2>
<a href="/find_event?event_id={{person.event_id}}" class="button">Back to event page</a>
{% endblock %}