{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/find_event.css') }}">
{% endblock %}

{% block title %}Add New Participant{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<h2 id="event_title">{{event.title}}</h2>
<form id = "event_inp" action = "#" method="post">
    <h2 style="margin-top: 8px;">New participant name:</h2>
    <input type="text" name="name", placeholder="Name" style="font-size:20px" required>
    <table id="participant_table" border="1">
        <tr>
            <th>date</th>
            <th>busy</th>
        </tr>
        
    {% for date in event.dates %}
        <tr>
            <td>{{date.date}}</td>
            <td>
                <label class="container">
                    <input type="checkbox" name="{{date.date}}">
                    <span class="checkmark"></span>
                  </label>
            </td>
        </tr>
    {% endfor %}
    </table>
    <input type='submit' value='Submit' class="button" style="margin-top: 10px;">
    <a href="/find_event?event_id={{event.id}}" class="button" style="margin-top: 10px;">Cancel</a>
</form>
{% endblock %}