{% extends "base.html" %}

{% block title %}Add New Participant{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p style="margin-top: 10px;">Event title: {{event.title}}</p>
<p style="margin-top: 10px;">Event id: {{event.id}}</p>
<form id = "event_inp" action = "#" method="post">
    <p style="margin-top: 10px;">New participant name:<input type="text" name="name", placeholder="Name" required></p>
    <table style="margin-top: 10px;" border="1">
        <tr>
            <th>date</th>
            <th>busy</th>
        </tr>
        
    {% for date in event.dates %}
        <tr>
            <td>{{date.date}}</td>
            <td><input type="checkbox" name="{{date.date}}"></td>
        </tr>
    {% endfor %}
    </table>
    <input type='submit' value='Submit' class="button">
    <a href="/find_event?event_id={{event.id}}" class="button">Cancel</a>
</form>
{% endblock %}