<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
  <div class="nav">
    <button type="button" id='menu' onclick=''><img src="{{ url_for('static', filename='menu.png') }}" width='50' height='50'></button>
    <div id="navleft">
        <a href="/" id="logo">Free Time Finder</a>
    </div>
    <div id="navright">
        <ul>
            {% block navright %}
            {% endblock %}
        </ul>
    </div>    
  </div>
  <div id="blank"></div>
    {% block content %}
    {% endblock %}
</body>
</html>