<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    {% block links %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
  <div class="nav">
    <button type="button" id='menu' onclick='showNav()'><img src="{{ url_for('static', filename='menu.png') }}" id="menu_img"></button>      
    <div id="navleft">
        <a href="/" id="logo">Free Time Finder</a>
    </div>
    <div id="navright">
        <ul>
            {% block navright %}
            {% endblock %}
        </ul>
    </div>    
  </div>
  <div id="blank"></div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var navright = document.getElementById('navright');
    var anchors = navright.getElementsByTagName("a");
    var window_width = window.innerWidth;
    
    if(window_width <= 900){
        for(let i = 0; i < anchors.length; i++){
            anchors[i].classList.add("disable-anchor")
        }        
    } 

    function showNav() {
        if(navright.style.opacity == '1'){
            navright.style.opacity = '0';
            navright.style.lineHeight = '0';
            navright.getElementsByTagName('UL')[0].style.opacity = '0';
            for(let i = 0; i < anchors.length; i++){
                anchors[i].classList.add("disable-anchor")
            }
        }else{
            navright.style.opacity = '1';
            navright.style.lineHeight = '2';
            navright.getElementsByTagName('UL')[0].style.opacity = '1';
            for(let i = 0; i < anchors.length; i++){
                anchors[i].classList.remove("disable-anchor")
            }
        }
    }
</script>
{% block script %}
{% endblock %}
</html>