{% extends "base.html" %}

{% block title %}Edit Participant Details{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p>Event title:{{event.title}}</p>
<p>Event id:{{event.id}}</p>
<form id = "event_inp" action = "#" method="post">
    <p>New participant name:<input type="text" name="name", placeholder="Name"></p>
    <table border="1">
        <tr>
            <th>date</th>
            <th>busy</th>
        </tr>
        
    {% for date in event.dates %}
        <tr>
            <td>{{date.date}}</td>
            <td><input type="checkbox" name="{{date.date}}"></td>
        </tr>
    {% endfor %}
    </table>
    <p id='subm'><input type='submit' value='Submit'></p>
</form>
{% endblock %}