{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/find_event.css') }}">
{% endblock %}

{% block title %}Edit Participant Details{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p id="event_title">{{person.event.title}}</p>
<form id = "event_inp" action = "#" method="post">
    <h2 style="margin-top: 8px;">Participant name:</h2>
    <input type="text" name="name", value="{{person.name}}" style="font-size:20px" required>
    <table id="participant_table" border="1">
        <tr>
            <th>date</th>
            <th>busy</th>
        </tr>        
    {% for date in person.event.dates %}
        <tr>
            <td>{{date.date}}</td>
            <td>
                <label class="container">
                    <input type="checkbox" name="{{date.date}}" {% if date.date in person_busy_dates %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
    {% endfor %}
    </table>
    <input type='submit' value='Update' class="button" style="margin-top: 10px;">
    <a href="/find_event?event_id={{person.event_id}}" class="button" style="margin-top: 10px;">Cancel</a>
</form>
<a href="/delete_person?person_id={{person.id}}" class="delete_button" style="margin-top: 10px">Delete person</a>
{% endblock %}