{% extends "base.html" %}

{% block title %}Event Page{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<h2 style="margin-top: 10px;">{{event.title}}</h2>
<a href="/find_best_dates?id={{event.id}}" class="button">Find best dates</a>
<a href="/add_new_participant?event_id={{event.id}}" class="button">Add new participant</a>
<table style="margin-top: 10px;" border="1">
    <th colspan="3">Participants</th>
    {% for i in range(0, n_people) %}
    <tr>
        <td>
            {{i+1}}
        </td>
        <td>
            {{event.people[i].name}}
        </td>
        <td>
            <a href="/edit_participant?person_id={{event.people[i].id}}">edit</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}