{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p>Event id:<input id="event_id" type="number" name="id" required></p>
<button id="find_event" class="button">Find Event</button>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        async function get_event(event_id){
            const response = await fetch("/json?id="+event_id);

            return response.json();
        }

        $("#find_event").click(async function(){
            let event_id = $("#event_id").val();
            let event = await get_event(event_id)
            if(event_id == ""){
                alert("Please enter event id")
            }
            else if(event.status == 0){
                alert("Event does not exist")
            }
            else{
                window.location.href = `/find_event?event_id=${event_id}`   
            }
    })
        
    });
    
</script>
{% endblock %}