{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<form id = "event_dets" action = "#" method="post">
    <p>Event id:<input type="int" name="id" required></p>
    <p id='subm'><input type='submit' value='Search'></p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>
{% endblock %}