{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p>Event id:<input id="event_id" type="number" name="id" required></p>
<button id="find_event">Find Event</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready();
    $("#find_event").click(function(){
        let event_id = $("#event_id").val();
        if(event_id == ""){
            alert("Please enter event id")
        }
        else{
            window.location.href = `/find_event?event_id=${event_id}`   
        }
    })
</script>
{% endblock %}