{% extends "base.html" %}

{% block title %}Find best dates{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<meta id="event_id" event_id="{{event_id}}">
<button id="sort_by_busy" class="button">Sort by number of people free</button>
<button id="sort_by_date" class="button">Sort by date</button>
<table>
    <thead>
        <td>Index</td><td>Dates</td><td>People who are busy</td>
    </thead>
    <tbody class="dates">
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    let event_id
    function sort_dates_by_busy(unsorted_dates){
        let sorted_dates = []
        while(unsorted_dates.length != 0){
            let smallest_index=0
            for(let i = 1; i < unsorted_dates.length; i++){
                if(unsorted_dates[i].busy.length < unsorted_dates[smallest_index].busy.length){
                    smallest_index = i
                }
            }
            sorted_dates.push(unsorted_dates[smallest_index])
            unsorted_dates.splice(smallest_index, 1)
        }
        return sorted_dates
    }


    function sort_dates_by_date(unsorted_dates){
        let sorted_dates = []
        while(unsorted_dates.length != 0){
            let smallest_index = 0
            for(let i = 1; i < unsorted_dates.length; i++){
                let smallest_d = new Date(unsorted_dates[smallest_index].date.substr(5,11))
                let d_str = unsorted_dates[i].date.substr(5,11)
                let d = new Date(d_str)
                if(d.valueOf() < smallest_d.valueOf()){
                    smallest_index = i
                }
            }
            sorted_dates.push(unsorted_dates[smallest_index])
            unsorted_dates.splice(smallest_index,1)
        }
        return sorted_dates
    }


    function find_free_dates(event_obj){
        raw_dates = []
        for(let i = 0; i<event_obj.dates.length; i++){
            let date = event_obj.dates[i]
            let date_info = {
                date: date,
                busy: []
            }
            for(let j = 0; j < event_obj.people.length; j++){
                let person = event_obj.people[j]
                if(person.busy_dates.includes(date)){
                    date_info.busy.push(person.name)
                }
            }
            raw_dates.push(date_info)
        }
        let arrange_dates = sort_dates_by_busy(raw_dates)
        return arrange_dates
    }

    $(document).ready(async function(){
        function display_dates(dates){
            let to_add=""
            let busy_people
            for(let i = 0; i < dates.length; i++){
                busy_people = dates[i].busy.join(", ")
                to_add += "<tr><td>" + (i+1).toString(10) + "</td><td>" + dates[i].date.substr(5,11) + "</td><td>" + busy_people + "</td></tr>"
            }
            $(".dates").append(to_add)
        }

        
        function clear_dates(){
            $(".dates").empty()
        }


        async function get_event(event_id){
            const response = await fetch("/json?id="+event_id);

            return response.json();
        }


        event_id = $("#event_id").attr("event_id")
        let event = await get_event(event_id)
        let arranged_dates = find_free_dates(event)
        display_dates(arranged_dates)
        
        $("#sort_by_busy").click(function(){
            clear_dates()
            arranged_dates = sort_dates_by_busy(arranged_dates)
            display_dates(arranged_dates)
        })

        $("#sort_by_date").click(function(){
            clear_dates()
            arranged_dates = sort_dates_by_date(arranged_dates)
            display_dates(arranged_dates)
        })

    })    
</script>
{% endblock %}