{% extends "base.html" %}

{% block title %}Functions{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<ul style="padding:0;">
    <li class="center"><a href="/make_event" class="button">Make new event</a></li>
    <li class="center"><a href="/find_event"class="button">Find existing event</a></li>
</ul>
{% endblock %}