{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block navright %}
<li><a href="/" class="active">Home</a></li>
<li><a href="/functions">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<div class="landing_title">
    <!--<p>Find the<br><b>Best Dates</b><br>to<b> Plan</b><br><b>Your Event</b><br>now</p>-->
    <p><b>Plan</b> Your <b>Event</b></p>
</div>
<div class="center">
    <a class="button get_started" href="/functions">Get Started</a>
</div>

{% endblock %}