{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<button id = 'btn' >Add more date ranges</button>
<form id = "event_inp" action = "#" method="post">
    <p>Event title: <input type="text" name="title" required></p>
    <div id="dates">
        <p>Date range: <input type="date" name="date_range_start1" required> to <input type="date" name="date_range_end1"><br></p>
    </div>
    <p id='subm'><input type='submit' value='Submit'></p>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){    
    //create new date range
    var date = 2;
    $("#btn").click(function(){
        $("#dates").append("<p id='date_range_" + date.toString() + "''>Date range: <input type='date' name='date_range_start" + date.toString() + "' required> to <input type='date' name='date_range_end" + date.toString() + "'><button class='delete_row' type='button' row_id='"+ date.toString() + "''>Delete range</button><br></p>");
 	    date++;
    });

    //delete date range
    $(document).on('click', '.delete_row', function(){
        let row_id = $(this).attr('row_id');
        $(this).closest("p").remove();
    })
});
</script>
{% endblock %}