{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/make_event.css') }}">
{% endblock %}

{% block title %}Event Creation Status{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p>{{status}} in creating event "{{title}}"</p> 
<h4 style="color:red; font-weight:bold;">LINK CANNOT BE RECOVERED, PLEASE COPY AND PASTE IT SOMEWHERE SAFE</h4>
<br>
<p>Event Link:<span id="link" class="green"> DOMAIN/find_event?event_id={{id}}</span></p><button id="copy_link" class="button_small">Copy Link</button>
<br><br>
<p>Event ID: <span class="green">{{id}}</span></p>
<a href="/functions" class="button">Back to functions page</a>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#link").text($("#link").text().replace("DOMAIN",window.location.host))
        $("#copy_link").click(function(){
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#link").text().trim()).select();
            document.execCommand("copy");
            $temp.remove();
            alert("link copied")
        })
    })
</script>
{% endblock %}