{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/make_event.css') }}">
{% endblock %}

{% block title %}Event Creation Status{% endblock %}

{% block navright %}
<li><a href="/">Home</a></li>
<li><a href="/functions" class="active">Functions</a></li>
<li><a href="/tutorial">Tutorial</a></li>
<li><a href="/about">About Us</a></li>
{% endblock %}

{% block content %}
<p id="status">Success!</p>
<br> 
<p style="font-size: 20px;">Event ID: <span style="color:blue">    {{id}}</span></p>
<br>
<p style="font-size: 20px;">Share this link to participants:</p>
<span id="link">DOMAIN/find_event?event_id={{id}}</span>
<div>
    <button id="copy_link" class="button">Copy Link</button>
</div>
<div id="buttons" style="margin-top: 30px;display: flex;">
    <a href="/functions" class="button" style="margin-right: 10px;">Back to functions page</a>
</div>
    {% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        let raw_link = $("#link").text()
        let event_directory= raw_link.substring(6, raw_link.length)
        $("#link").text($("#link").text().replace("DOMAIN",window.location.protocol + window.location.host))
        $("#buttons").append("<a href='" + event_directory + "' class='button'>Go to event page</a>")
        $("#copy_link").click(function(){
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#link").text().trim()).select();
            document.execCommand("copy");
            $temp.remove();
            alert("link copied")
        })
    })
</script>
{% endblock %}