{% extends "base.html" %}

{% block title %}timefinder{% endblock %}

{% block content %}
<form action = "#" method="post">
    <p>Url</p>
    <p><input type="text" name="link"></p>
    <p><input type="submit" value="submit"></p>
</form>
<h1>id:</h1><input type="number", id="id">
<button onclick="display(document.getElementById('id').value)">click me!</button>
<div id="display"></div>
<script>
    function display(id){
        let dis = document.getElementById("display")    
        fetch("/json/"+id)
            .then(response => response.json())
            .then(function(data) {
                if ("status" in data){
                    dis.innerHTML = "No existing session with id: "+ id;
                }
                else
                {
                    dis.innerHTML = "Host: " + data.host + "<br>Title: " + data.title;
                }
                console.log(data);
            })
            .catch(err => console.log(err))
    }
</script>
{% endblock %}