.landing_title{
    font-size: 35px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom:7px;
    min-width: 305px;
}

.landing_title p{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

br {
    display: none; 
}

@media screen and (max-width: 900px){
    .landing_title{
        height: 100px;

    }

    br {
        display: inline; 
    }
}