/* Global Settings */
:root {
    --background:#FFFFFF;
    --main: #1d3557;
    --accent: #e63946;
}

#blank{
    height:100px;
}

body {
    background-color:var(--background); 
}

* {
    margin:0px;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
    
a {
    text-decoration: none;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

.green{
    color:green;
}

.center{
    display:flex;
    justify-content: center;
    align-content: center;
}

#content{
    margin:0px 10px;
}

.button{
    background-color:var(--background);
    border: 1.5px solid var(--main);
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--main);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: color 0.1s;
    transition: background-color 0.1s;
    -webkit-appearance: none;
}

.button:hover{
    background-color:var(--main);
    color: var(--background);
} 

.delete_button {    
    background-color:var(--background);
    border: 1.5px solid var(--accent);
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--accent);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: color 0.1s;
    transition: background-color 0.1s;
    -webkit-appearance: none;
  }

.delete_button:hover{
    background-color:var(--accent);
    color:var(--background);
} 

.button_small{
    background-color: var(--background);
    border: 1.5px solid var(--main);
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--main);
    padding: 4px 12px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: color 0.1s;
    transition: background-color 0.1s;
    -webkit-appearance: none;
}

.button_small:hover{
    background-color:var(--main);
    color: var(--background);
} 

input[type="text"], input[type="date"]{
    font-size: 20px;
}

table, th, td{
    border: 0.5px solid black;
    border-collapse: collapse;
}

td{
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/** navigation starts here **/

.nav {
    background-color:var(--main);
    margin-top:0px;
    height:100px;
    width:100%;
    position: fixed;
    z-index: 3;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
    
#navleft {
    float:left;
    line-height: 100px;
    padding-left: 30px;
    padding-top:0px;
    padding-bottom: 0px;
    margin: 0px;
}

#navleft #logo p{
    color:white;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

#navright {
    float:right;
    line-height: 97px;
}

#navright li{
    display:inline;
}

#navright a {
    color:white;
    font-size:1.5em;
    margin-right:30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.1s;
}

#navright a:hover{
    color: var(--accent);
}

#navright .active{
    color: var(--accent);
}

.disable-anchor{
    pointer-events: none;
    cursor: default;
}

#menu {
    display:none;
}

#menu_img{
    height: 50px;
    width:auto;
}
/* phone websites */
@media screen and (max-width: 900px){
    
    #navright{
        position:relative;
        margin-top:0px;
        width:100%;
        line-height: 0px;
        background-color:var(--main);
        margin-right:0px;
        opacity: 0;
        z-index: 2;
        transition: line-height 0.3s, opacity 0.3s;
    }
    
    #navright li{
        display:list-item;
        list-style: none;
        text-align: center;
        transition: display 1s;
    }
    
    #navright ul{
        list-style: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

    #menu{
        background-color: rgba(0,0,0,0);
        float:right;
        margin-right:20px;
        cursor:pointer;
        border:none;
        outline:none;
        font-size: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 50px;
        padding:0px;
        display: block;
    }
}
/* Nav end */
.landing_title{
    font-size: 75px;
    align-items: center;
}