@media screen and (max-width: 900px){
    .date_input{
        width: 33%;
        min-width: 135px; 
    }

    .delete_row{
        padding: 4px 5px 3px;
    }
}

@media screen and (max-width: 390px){
    .date_input{
        min-width: 0px;
    }
}

#status{
    font-size: 50px;
}

#link{
    color: blue;
    font-size: 20px;
}

#copy_link{
    font-size: 15px;
    padding:10px 20px;
}

.date_input{
    margin-top: 5px;
    max-width: 169px;
    -webkit-appearance: auto;
    background-color: var(--background);
    border: solid 1px var(--main);
}