:root {
    --background:#FFFFFF;
    --main: #1d3557;
    --accent: #e63946;
}

@media screen and (max-width: 900px){
    .date_input{
        width: 33%;
        min-width: 135px; 
    }
}

@media screen and (max-width: 390px){
    .date_input{
        min-width: 0px;
    }
}

#status{
    font-size: 50px;
}

#link{
    color: blue;
    font-size: 15px;
    white-space: nowrap;
}

.date_input{
    margin-top: 5px;
    max-width: 169px;
    -webkit-appearance: auto;
    background-color: var(--background);
    border: solid 1px #1d3557;
}