:root {
    --background:#FFFFFF;
    --main: #1d3557;
    --accent: #e63946;
}

@media screen and (max-width: 900px){
    .date_input{
        width: 15%;
        margin-top: 5px; 
    }
}

#status{
    font-size: 50px;
}

#link{
    color: blue;
    font-size: 15px;
    white-space: nowrap;
}
